//
// Config file for the whole project (define colors etc)
// --------------------------------------------------

// Base colors

$green: #00a95c;
$green-dark: #008247;
$yellow: #ffe800;

$opacity-green: #3f730e;

$facebook: #3a589b;
$twitter: #598dca;
$youtube: #cf3427;
$google-plus: #dd4b39;

$white: #ffffff;

// Footer

$footer-bg: #1d1313;

